.testimonies-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.testimonies-container > a {
    text-decoration: none;
    color: black;
}

.testimony-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.testimony-person {
    flex: 1 30%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.testimony-even .testimony-person {
    order: 1;
}

.testimony-odd .testimony-person {
    order: 3;
}

.testimony-person > img {
    border-radius: 50%;
    width: 30%;
}

.testimony-container > .testimony-text {
    flex: 2 68%;
    order: 2;
    background-color: rgba(93,93,93,0.4);
    height: 100%;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 10px;
    text-align: left;
}

.max-width {
    width: 100%;
}

@media screen and (max-width: 520px) {

    .testimonies-container {
        flex-flow: row wrap;
    }

    .testimony-person {
        flex: 1 100%;
        order: 1 !important;
    }

    .testimony-container > .testimony-text {
        flex: 1 100%;
    }
}